extends layout

block content
  h1#title= title
  p#subtitle Build a Random Quote Machine
  button#get-quote New Quote
  #quote-body
  #quote-author
  br
  a.twitter-share-button#twitter-share-button(href='https://twitter.com/intent/tweet') Tweet me
  script(src='javascripts/lib/jquery.js')
  script(src='javascripts/main.js')
